#library-container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 60%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 10px;
}

.library-card {
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    word-wrap: break-word;
    min-width: 200px;
    min-height: 120px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    justify-content: center;
    align-self: stretch;
    transition: all 0.5s cubic-bezier(0.26, 0.93, 0.65, 1);
}

.library-card:hover {
    font-size: 1.05em;
    transform: scale(1.03);
}

.library-card-title {
    font-family: "Space Grotesk";
    font-size: 1.2em;
    margin: 0;
}

.library-card-author {
    margin: 0;
}

.library-card-genre {
    font-size: 0.8em;
    margin: 0;
    margin-top: 2px;
}
